<launch>
    <param name="rviz_rate" type="int" value="60" />
    <param name="robot_name" type="string" value="Waiting for CASPR-MATLAB..." />
    <param name="max_ee_size" type="int" value="1" />
    <param name="ee_radius" type="double" value="0.0005" />
    <param name="max_ee_ref_size" type="int" value="1" />
    <param name="ee_ref_radius" type="double" value="0.002" />
    <param name="cable_scale" type="double" value="0.005" />
    <param name="link_scale" type="double" value="0.001" />
    <node name="caspr_rviz" pkg="caspr_rviz" type="caspr_rviz" output="screen" />
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" />
</launch>
